<html>
    <head>
        <title>Horizontal Navbar</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <nav class="navbar navbar-inverse navbar-fixed-top color1" style="margin-top:50px">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><i class="fa fa-home"> Horizontal Navbar</i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"> Home</i></a></li>
                    <li><a href="#"><i class="fa fa-user"> Admin</i></a></li>
                    <li><a href="#"><i class="fa fa-users"> Users</i></a></li>
                </ul>
                </div>
        </nav>
        <nav class="navbar navbar-inverse navbar-fixed-top color2" style="margin-top:130px">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><i class="fa fa-home"> Horizontal Navbar</i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"> Home</i></a></li>
                    <li><a href="#"><i class="fa fa-user"> Admin</i></a></li>
                    <li><a href="#"><i class="fa fa-users"> Users</i></a></li>
                </ul>
                </div>
        </nav>
        <nav class="navbar navbar-inverse navbar-fixed-top color3" style="margin-top:210px">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><i class="fa fa-home"> Horizontal Navbar</i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"> Home</i></a></li>
                    <li><a href="#"><i class="fa fa-user"> Admin</i></a></li>
                    <li><a href="#"><i class="fa fa-users"> Users</i></a></li>
                </ul>
                </div>
        </nav>
    </head>
</html>